.KeyDataCard {
  height: 124px;
  padding: 0;
  background: #fbfbfb;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 5px;
}

.KeyDataCard article {
  display: flex;
  align-items: center;
  gap: 1.6vw;
}

.KeyDataCard .count {
  font-weight: 700;
  font-size: 20px;
  color: #282d30;
  margin: 0;
}

.KeyDataCard .title {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  color: #74798c;
}

@media screen and (max-width: 1230px) {
  .KeyDataCard {
    width: calc(50% - 15px);
  }
}
